<html>

<head>
    <title>My Web</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="topbar">
        <div class="menu">
            <ul>
                <li class="logo"><img src="/img/logo.png"></li>
                <li><a href="/index.html">About</a></li>
                <li><a href="/components/skills.html">Skills</a></li>
                <li><a href="/components/edu.html">Education</a></li>
                <li><a href="/components/expe.html">Experience</a></li>
            </ul>
            <hr>
        </div>
    </div>
    <div class="line">
    </div>
    <div class="container">
        <div class="banner">
            <div class="app-text">
                <h1>Education</h1>

                <div class="edu">
                    <ul>
                        <li>STIKOM Binaniaga Bogor</li>
                        <p>Informatics Engineering</p>
                        <li>SMK Bina Warga 1 Bogor</li>
                        <p>Computer & Network Engineering</p>
                        <li>SMPN 2 Sukaraja Bogor</li>
                        <li>SDN Cijujung Tengah</li>
                    </ul>
                </div>
            </div>
            <div class="yearedu">
                    <ul><h3>
                        <li>2019 - Present</li>
                        <li>2016 - 2019</li>
                        <li>2013 - 2016</li>
                        <li>2007 - 2013</li>
                    </h3></ul>
                </div>
        </div>
    </div>
</body>

</html>