<html>

<head>
    <title>My Web</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="topbar">
        <div class="menu">
            <ul>
                <li class="logo"><img src="/img/logo.png"></li>
                <li><a href="/index.html">About</a></li>
                <li><a href="/components/skills.html">Skills</a></li>
                <li><a href="/components/edu.html">Education</a></li>
                <li><a href="/components/expe.html">Experience</a></li>
            </ul>
            <hr>
        </div>
    </div>
    <div class="line">
    </div>
    <div class="container">
        <div class="banner">
            <div class="app-text">
                <h1>Experience</h1>

                <div class="expe">
                    <h3>Front-End Web Developer at Modana ID</h3>
                    <p>companies that make enterprise application systems. which is engaged in human resources</p>
                    <h3>IT Support at PT. Berca Cakra Teknologi</h3>
                    <p>PT. Berca Cakra Teknologi is one of the private companies in Indonesia. company focused on
                        service. one of HP and ACER service partners in Indonesia. this company manufactures computer
                        hardware.</p>
                </div>
            </div>
            <div class="year">
                <h3>October 2019 - Pressent</h3>
                <h3>November 2018 - December 2018</h3>
            </div>
        </div>
    </div>
</body>

</html>