<html>

<head>
    <title>My Web</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="topbar">
        <div class="menu">
            <ul>
                <li class="logo"><img src="/img/logo.png"></li>
                <li><a href="/index.html">About</a></li>
                <li><a href="/components/skills.html">Skills</a></li>
                <li><a href="/components/edu.html">Education</a></li>
                <li><a href="/components/expe.html">Experience</a></li>
            </ul>
            <hr>
        </div>
    </div>
    <div class="line">
    </div>
    <div class="container">
        <div class="banner">
            <div class="app-text">
                <div class="skills">
                    <h1>Skills</h1>
                    <h3>Programming & Tools</h3>
                    <ul>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>GIT</li>
                        <li>NPM</li>
                    </ul>

                    <h3>Networking</h3>
                    <ul>
                        <li>Linux Server</li>
                        <li>Router Mikrotik</li>
                        <li>Installation Network</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</body>

</html>